<div id="header">
    {% for module, modulevalue in modules %}
        {{ modulevalue|raw }}
    {% endfor %}
    {% if 'maste.es' in app.request.host %}
        {% if 'edemy_facebook_extension' is loaded %}
            <div id="likes">
                Grupo Namasté tiene {{ likes('tecafeycomplementos') + likes('namasteespacio') + likes('namasteesoterismo') + likes('namasteinformatica') }} Me Gusta
            </div>
        {% endif %}
    {% endif %}
</div>
