{% if likeurl %}
    <div class="fbPrecontent module">
        <div class="fb-like" data-width="500px" data-href="http://www.facebook.com/{{ likeurl }}" data-layout="standard" data-action="like" data-show-faces="true" data-share="false"></div>
    </div>
{% endif %}