<div class="product_add_to_cart">
    <a href="{{ path('edemy_cart_cart_paypallanding', {'landing': 'card'}) }}">
        <div class="product_add_to_cart">
            {{ "cart.buy"|translate|upper }}
        </div>
    </a>
</div>