{% if namespace is defined %}
    {# render_esi(controller('edemy.menu:adminMenu', { 'namespace' : namespace })) #}
{% endif %}
<div id="{{ menu }}menu">
    {% set main_menu = knp_menu_get('eDemyMainBundle:Builder:menu', [], { 'items' : items }) %}
    {{ knp_menu_render(main_menu, {'template': 'AppBundle::snippets/knp_menu.html.twig'}) }}
</div>
 

